<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Desenvolvimento de Sistemas Web III</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/image/favicon.png" />


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="btn btn-dark navbar-toggle pull-left">
                <i class="oi oi-menu"></i>
              </button>
              <a class="navbar-brand " href="#">Desenvolvimento de Sistemas Web III</a>
            </div>
          </div>
        </nav>
    </header>

<div class="layout-main">

    <aside>
        <nav class="sidebar sidebar-open">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link " href="./"> 
                     <i  class="oi oi-home"></i> <span>Home</span>
              </a></li>
            </ul>
          
            <ul class="nav nav-pills">
              <li class="nav-item"><span class="nav-link active" >Departamentos</span></li>
              <li class="nav-item">
                <a class="nav-link" href="/departamentos/cadastrar">
                  <i class="oi oi-plus"></i> <span>Cadastrar</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departamentos/listar">
                  <i class="oi oi-spreadsheet"></i><span>Listar </span>
                </a>
              </li>
            </ul>
            <ul class="nav nav-pills">
                    <li class="nav-item"><span class="nav-link active">Funcionários</span></li>
                    <li class="nav-item"><a class="nav-link" 
                        href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" 
                        href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
                    </a></li>
            </ul>

          </nav>
    </aside>

    <section class="layout-content">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Home</span>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container">

            <p>
                O Java Spring Boot é uma ferramenta de código aberto que facilita o uso de estruturas baseadas em Java para criar microsserviços e aplicativos da web. Para qualquer definição de Spring Boot, a conversa deve começar com Java – uma das linguagens de desenvolvimento e plataformas de computação mais populares e amplamente utilizadas para desenvolvimento de aplicativos. Desenvolvedores de todo o mundo iniciam sua jornada de codificação aprendendo Java. Flexível e fácil de usar, o Java é o favorito do desenvolvedor para uma variedade de aplicativos - tudo, desde aplicativos de mídia social, web e jogos até aplicativos empresariais e de rede.
            </p>
            <p>
                Embora o Java possa ser fácil de usar e ser mais fácil de aprender do que outras linguagens, o nível de complexidade para criar, depurar e implantar aplicativos Java foi escalonado para novas alturas. Isso ocorre devido ao número exponencial de variáveis que os desenvolvedores modernos enfrentam ao desenvolver aplicativos Web ou aplicativos móveis para tecnologias modernas comuns, como streaming de música ou aplicativos de pagamento em dinheiro móvel. Um desenvolvedor que escreve um aplicativo de linha de negócios básico agora precisa lidar com várias bibliotecas, plug-ins, log de erros e manipulação de bibliotecas, integrações com serviços Web e várias linguagens, como C#, Java, HTML e outras. É compreensível que haja uma demanda insaciável por qualquer ferramenta que simplifique o desenvolvimento de aplicativos Java, economizando tempo e dinheiro aos desenvolvedores.
 
            </p>
    
        </div>
    
    </section>

</div>
<div>
    <footer class="layout-footer" >
        <div class="container">
          <span class="footer-copy">&copy; 2023 Aula de Desenvolvimento de Sistemas Web III</span>
        </div>
      </footer>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




<script type="text/javascript">

    var url='';

    $('button[id*="btn_"]').click(function(){
        url="http://localhost:8080/"+$(this).attr('id').split("_")[1];
    });

    $('#ok_confirm').click(function(){
        document.location.href=url;
    });
    $(function() {
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function(){
        $(".navbar-toggle").click(function(){
            $(".sidebar").toggleClass("sidebar-open");
        })
    });

</script>
</body>
</html>
